<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397161421217-j6ul91pag7esd6rhhu9grf7uohlq6v5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397161421217-j6ul91pag7esd6rhhu9grf7uohlq6v5t</string>
	<key>API_KEY</key>
	<string>AIzaSyCqwEzDm163cUqK4DvS3xIcJIYiCRpMDrk</string>
	<key>GCM_SENDER_ID</key>
	<string>397161421217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.a01651298TEAM.ProyectoIntegracion</string>
	<key>PROJECT_ID</key>
	<string>cetac-c4c43</string>
	<key>STORAGE_BUCKET</key>
	<string>cetac-c4c43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397161421217:ios:fbfc99c588566acb6ed3e0</string>
</dict>
</plist>